* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Times New Roman", Times, serif;
}

main {
  margin-left: 300px;
  margin-right: 300px;
  margin-top: 0;
  margin-bottom: 0;
  border: 1px solid black;
  width: 800px;
  height: 1100px;
  position: relative;
}

div hr {
  width: 100%;
}

hr {
  margin-top: 10px;
  margin-bottom: 10px;
}

p {
  line-height: 30px;
}

h1,
h2 {
  padding-top: 50px;
  padding-bottom: 10px;
}

#info {
  width: 300px;
  height: 1100px;
  text-align: center;
  background-color: #31343b;
  color: white;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 1px;
}

#avatar {
  width: 200px;
  height: 200px;
  border: 3px solid white;
  border-radius: 50%;
}

.MXH {
  width: 20px;
}

#detail {
  width: 450px;
  height: 1100px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 310px;
  right: 1px;
}

#Profile {
  width: 100%;
}

.content {
  width: 100%;
}
